.github/
build/
scripts/
docs/
demo-src/
node_modules/
public/
examples/
tests/

.editorconfig
.eslintignore
.eslintrc.js
.postcssrc.js
.gitignore
.npmignore
.babelrc
babel.config.js
jest.config.js
jsconfig.json
package-lock.json
vue.config.js

.git/
.vscode/
nginx/
*.log
